

body {
    display: flex;
    height: 100vh;
}
aside {
    width: 30%;
    height: 100%;
    border-right: 2px solid #222;
    padding: 50px 20px 20px 20px;
}
.search {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #222;
    padding-bottom: 20px;
}
.search label {
    font-size: 1.8rem;
}
.search #city {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    padding: 5px;
}
.search #city-submit {
    height: 40px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: rgb(196, 195, 195);
    font-size: 16px;
}
.city-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    padding-top: 20px;
}
.city-buttons button {
    font-size: 16px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #fff;
    background-color: rgb(121, 121, 121);
}
/* Main */
main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .current-day {
    background-color: #222;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    font-size: 1.8rem;
}
.header-cd {
    display: flex;
    justify-content: space-around;
}
.stacs {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.header-cd .temp-stacs {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.weather-stacs {
    font-size: 16px;
}
.main-cd-temperatures {
    border-radius: 5px;
    color: #222;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    max-width: 80%;
    padding: 20px;
    margin: 0 auto;
}
.temperature {
    padding: 10px;
    width: 100%;
    border-right: 1px solid rgb(177, 177, 177);
}
.temperature:last-child { 
    border: none;
}
.temperature p {
    text-align: center;
}
.count {
    font-weight: 700;
}
.forecast {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    background-color: #222;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    
}
#weather-data {
    width: 100%;
}
tr .weather-tr {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
thead {
    font-size: 1.2rem;
}
.weather-tr th {
    text-align: center;
    border-bottom: 1px solid rgb(158, 156, 156);
    padding: 10px 0px 10px 0px;
}
th span {
    font-size: 10px;
}
tbody {
    margin-top: 50px;
    padding: 20px;
}
tbody tr td {
    text-align: center;
}
tbody tr td:first-child {
    font-weight: 700;
}
.card {
    width: 20%;
    background-color: #fff;
    color: #222;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card span {
    font-size: 15px;
}