:root{
    --pink: #650D1B;
    --yellow: #DBD053;
    --orange: #F6A71C;
    --blue: #6DD3CE;
    --indigo: #022142;
}
body {
    display: flex;
}
aside {
    background-color: #02152b;
    width: 20%;
    height: 100vh;
    padding: 100px 20px 20px 20px;
}
.search {
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #222;
}
aside label {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
aside input {
    height: 35px;
    padding: 6px;
}
aside p {
    color: red;
    font-weight: 400;
}
.hidden {
    display: none;
}
aside button {
    height: 35px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    color: #fff;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}
/* City buttons */
.city-buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin-top: 20px;
    padding: 10px 10px 20px 10px;
}
.city-buttons button {
    background-color: var(--orange);
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 80%;
    height: 100vh;
}
.current-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #02152b;
}
.header {
    border: 2px solid var(--indigo);
    width: 65%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left p {
    font-size: 30px;
    font-weight: 500;
}
.right h4 {
    font-size: 30px;
}
.right h5 {
    font-size: 20px;
}
.features {
    width: 65%;
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--indigo);
    border-radius: 10px;
    
}
.icono {
    padding: 0;
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--indigo);
    display: flex;
    justify-content: center;
}

.temp-max, .temp-min, .current-wind, .current-hum {
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* Forecast */
.forecast {
    max-width: 65%;
    overflow: scroll;
    overflow-y: hidden;
}
.forecast::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    border-radius: 10px;
}
.forecast::-webkit-scrollbar-thumb {
    background-color: var(--indigo);
    border-radius: 10px;
}
.city-buttons button {
    background-color: var(--orange);
    width: 27%;
}
.wraper {
    width: 1000px;
    display: flex;
    gap: 20px;
}
.card {
    margin-bottom: 20px;
    width: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 350px;
    border: 2px solid var(--indigo) !important;
    background-color: #6DD3CE !important;
}
.card h4{
    color: var(--indigo);
    text-align: center;
}
.card-icon-wh {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.card p {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.card i {
    font-size: 22px;
    color: #02152b;
}

.card p {
    font-size: 17px;
    font-weight: 500;
}


/* Responsive design
   Hover buttons, font family and shadows
   Animations */
@media (max-width: 1040px) {
    aside {
        width: 30%;
    }
    main {
        width: 70%;
    }
    .forecast {
        max-width: 80%;
    }
    .header, .features {
        width: 80%;
    }
}
@media (max-width: 780px) {
    body {
        display: flex;
        flex-direction: column;
    }
    aside {
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
    aside label {
        text-align: center;
    }
    aside input {
        height: 35px;
        width: 70%;
        margin: 0 auto;
        padding: 6px;
    }
    aside p {
        color: red;
        font-weight: 400;
    }
    .hidden {
        display: none;
    }
    aside button {
        width: 33%;
        margin: 0 auto;
    }
    .city-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 20px;
        padding: 10px 20px 20px 20px;
        overflow: scroll;
        overflow-y: hidden;
    }
    .city-buttons::-webkit-scrollbar {
        background-color: transparent;
        height: 10px;
        border-radius: 10px;
    }
    .city-buttons::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        border-radius: 10px;
    }
    .city-buttons button {
        background-color: var(--orange);
        width: 27%;
    }
    main {
        margin: 0 auto;
        width: 100%;
    }
    .forecast {
        max-width: 100%;
    }
    .header, .features {
        width: 100%;
    }
}
